html, body {
  font-family: 'Saira', sans-serif;
  font-size:16px;
  color:white;
  height:100vh;

  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #232526, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #232526, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.table {
  width:80%;
  margin: 0 auto;
}

.intro {
  position: absolute;
  top: 30%;
}

header {
  margin-top: 8vh;
}

footer {
}


.logo {
    text-align:center;
	  width: 100%;
	  height: 100%;
    margin: auto;
    background-image: url('../images/dond.jpg');
    background-size:cover;
    /*background-color:black;*/

	  /*border: 5px solid transparent;

	  -moz-border-image: -moz-linear-gradient(top left, #C9AA69 0%, #B27618 50%, #D6AB4C 100%);
	  -webkit-border-image: -webkit-linear-gradient(top left, #C9AA69 0%, #B27618 50%, #D6AB4C 100%);
	  border-image: linear-gradient(to bottom right, #C9AA69 0%, #B27618 50%, #D6AB4C 100%);

	  border-image-slice: 1;*/
	}

h1 {
  font-size:3rem;
  text-align: center;
}

h2 {
  font-size:2em;
}

.howie {
  background-image: url('../images/howie.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  height:100%;
  width:100%;
}

.row {
  display:flex;
  justify-content: center;
}

.board {
  margin:0 auto;
}

.board-row {
  margin-bottom:2rem;
}

.case, .case-selected{
  position: relative;
  background: url("../images/silver-closed.gif") no-repeat;
  background-size: 100%;
  height:7em;
  width: 100%;
}

.case {
  cursor:pointer;
}

.case:hover {
  animation: pulse 0.5s ease-in infinite;
}

@keyframes pulse{
  25%  {transform: scale(0.9);}
  75%  {transform: scale(1.1);}
}


.case-opened {
  position: relative;
  top:1em;
  background: url("../images/silver-open.gif") no-repeat;
  background-size: 100%;
  height:7em;
  width: 100%;
}

.reveal {
  position: relative;
  box-sizing:content-box;
  /*background: url('images/instructions.jpg') no-repeat;
  background-size: cover;*/
  height:10rem;
  width: 100%;
  color: white;
}

.rectangle {
  background-image: url("../images/dollars.jpg");
  position: relative;
  width:100%;
  height:2em;
  margin-bottom:1em;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 100%;
}

.number-overlay {
  width: 100%;
  height: 100%;
  text-align:center;
}

.money-text, .money-eliminated {
  position:relative;
  top: 13%;
  color: black;
  font-size: 1em;
}


.text {
  color: black;
  font-size: 2.5vw;
  font-weight:bold;
  margin: 0.7em auto;
  text-align:center;
}

.low-numbers, .high-numbers {
  display:flex;
  flex-direction:column;
  justify-content: space-evenly;
  margin-top:4rem;
}

.low-numbers, #mine {
  margin-left:4rem;
}

.high-numbers {
  margin-right:4rem;
}

#hs, #refresh, #open-mine {
  margin:0.2em;
}

button:hover {
  animation: pop 0.3s linear 1;
}

.btn-secondary {
  margin-top: 0;
}


@keyframes pop{
  50%  {transform: scale(1.2);}
}

#instructions {
  margin: 0 auto;
  text-align:center;
}

#mine, #offer {
  position: absolute;
  top: 5%;
  border:1px solid white;
  height: 8.5em;
  width: 14.5%;
  text-align: center;
  opacity: 0.5;
  /*background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;*/
}


#offer {
  right: 4rem;
}

#offer:hover {
  cursor: pointer;
}

#offer:hover, #mine:hover {
  opacity: 1;
}

.blink {
  animation: blinker 1s linear infinite;
}

.media-background {
  background-image: url("../images/dollars.jpg");
  background-size:cover;
  background-repeat:no-repeat;
  position: relative;
  width:100%;
  height:auto;
  margin-bottom:1em;
  text-align:center;
  color:black;
  /*display:flex;*/
  display:-webkit-flex;
  justify-content: center;
}

@keyframes blinker {
  50% { opacity: 0; }
}

#q {
  display:none;
}

.moola {
  position: relative;
  top: 10%;
}


.choices {
  color: black;
}

/* Media Queries */
@media (min-width: 990px){

  .col-md-2 {
    width:18%;
  }
  .low-numbers, .high-numbers {
    margin-top:4rem;
    margin-bottom:0;
  }
  .low-numbers {
    margin-left:4em;
  }
  .high-numbers {
    margin-right:4em;
  }
  .board {
    margin-top:4em;
  }
}


@media screen and (max-width: 990px){
  button {
    margin-top: 0.4em;
  }
  .reveal {
    height:15rem;
  }

  header {
    margin-bottom:3em;
    margin-top:5vh;
  }

  .rectangle {
    padding:0.5em;
    margin:0;
  }

  h1 {
    font-size:7vw;
    margin-top:4vw;
  }

  #instructions {
    font-size:1.2rem;
    width:55%;
  }

 .case, .case-opened, .case-selected {
   width: 13vw;
   margin-bottom: 0;
 }

 .case-selected {
   margin: 0 auto;
 }

 .rectangle {
   background:none;
   display:inline-block;
   width:auto;
   height:auto;
 }

 .text {
   font-size:4vw;
 }

 .board {
   width: 100%;
   margin: 2em auto;
 }

 .row {
   margin-top:0;
 }

 .board-row {
   display:flex;
   justify-content: space-around;
 }

 #mine, #offer {
   width:20%;
 }

 #mine {
   left: 1rem;
   margin:0;
 }

 #offer {
   right:1rem;
   margin:0;
 }

 .moola {
   font-size:4vw;
 }

}

/*@media screen and (max-width: 1500px) {
}*/

@media screen and (max-width: 1200px) {

    .col-md-2 {
      padding-right:0.5em;
      padding-left:0.5em;
    }

}

@media screen and (min-width: 1550px){
  /* fix case cover/contain issue */
  .case, .case-opened {
    background-size: contain;
  }
}
